<h1>All Low Stock Books</h1>

<table>
  <tr>
    <th>Title</th>
    <!-- <th></th> -->
    <th>Author</th>
    <!-- <th></th> -->
    <th>Category</th>
    <!-- <th></th> -->
    <th>Stock</th>
    <!-- <th></th> -->
    <th>Stock Status</th>
    <!-- <th></th> -->
    <th>Description</th>
    <!-- <th></th> -->
    <th>Buying Price</th>
    <!-- <th></th> -->
    <th>Selling Price</th>
    <!-- <th></th> -->
    <th>Markup</th>
  </tr>
  <% for book in @books %>
  <% if book.stock < 10 && book.stock != 0 %>
  <tr>
    <td><img id="small_book" src="/images/book_<%= book.id %>.jpg" alt="Book Cover"><a href="/books/<%= book.id %>"><%= book.title %></a><form action="/books/<%= book.id %>"
      method="get">
        <input type="submit" value="Show Details">
      </form></td>
    <!-- <td></td> -->
    <td><a href="/authors/<%= book.author_id %>"><%= book.author.name %></a></td>
    <!-- <td></td> -->
    <td><%= book.category %></td>
    <!-- <td></td> -->
    <td><%= book.stock %></td>
    <!-- <td></td> -->
    <td><div class=stockout><%= book.stock_status_out %></ div><div class=stocklow><%= book.stock_status_low %></ div><div class=stockgood><%= book.stock_status_good %></ div></td>
    <!-- <td></td> -->
    <td><%= book.description %></td>
    <!-- <td></td> -->
    <td><%= book.buying_price %></td>
    <!-- <td></td> -->
    <td><%= book.selling_price %></td>
    <!-- <td></td> -->
    <td><%= book.markup %></td>
  </tr>
  <% end %>
  <% end %>
</table>
