<p>Book number: <%= @book.id %></p>
<hr />
<p>Title: <%= @book.title %></p>
<p>Author: <%= @book.author.name %></p>
<p>Category: <%= @book.category %></p>
<p>Stock: <%= @book.stock %></p>
<p>Description: <%= @book.description %></p>
<p>Buying Price: <%= @book.buying_price %></p>
<p>Selling Price: <%= @book.selling_price %></p>
<p>Markup: <%= @book.markup %></p>



<form action="/books/<%= @book.id %>/delete"
  method="post">
    <input type="submit" value="Delete Book">
  </form>

<p><a href="/books/<%= @book.id %>/edit">Edit Book</a></p>
