<h1>Author: <%= @author.name %></h1>

<h3>Books:</h3>

<ul>
  <% @author.books.each do |book| %>
  <li><a href="/books/<%= book.id %>"><%= book.title %></a></li>
  <% end %>
</ul>


<form action="/authors/<%= @author.id %>/edit"
  method="get">
    <input type="submit" value="Edit Author">
  </form>

<br>

<form action="/authors/<%= @author.id %>/delete"
  method="post">
    <input type="submit" value="Delete Author">
  </form>
